/* Definindo a paleta de cores como variáveis CSS globais */
:root {
  --color-primary: #0d4386; /* Azul Profundo Principal */
  --color-primary-dark: #013c85; /* Azul Escuro Rico */
  --color-primary-darkest: #0e3059; /* Azul Noturno */
  --color-accent: #0c66d4; /* Azul Vibrante de Destaques */
  --color-complementary: #6dd6e1; /* Azul Água */
  --background-soft: #d7f3f8; /* Azul Claro/Background Suave */
  --text-light: #ffffff;
  --text-dark: #0e3059;

    --background-dashboard: #daf3f8; 

}

/* Reset básico e estilos globais */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter), sans-serif; /* A fonte será adicionada no layout.js */
  background-color: var(--color-primary-darkest); /* Fundo escuro para um tema cinematográfico */
  color: var(--text-light);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Animação de entrada sutil para elementos */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}